<h1>Not Found</h1>
<hr>
<h4>Su petición es desconocida por el servidor o no existe la ruta de acceso</h4>

<script>
      (
        ()=> {
            setTimeout(() => {
                window.location.href = '/reserva'
            }, 1500);
        }
    )()
</script>