<%- include('partials/header') %>

    <div class="container">

        <div class="row mt-5">
            <h1 class="text-center border-botton">Lista de Reservas</h1>
            <div class="col">
                <div class="col-md-3 mb-2">
                    <a href="/nueva-reserva" class="btn btn sm btn-primary" id>Nuevo </a>
                    <a href="/lista-reservas" class="btn btn-info text-light">Inicio</a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>nombre</th>
                            <th>apellido</th>
                            <th>nombrePelicula</th>
                            <th>fechaIngreso</th>
                            <th>fechaSalida</th>
                            <th>sala</th>
                            <th>haciento</th>
                            <th>precio</th>
                        </tr>
                    </thead>
                    <tbody id="listadoReservas">
          
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script src="/listar-reservas"></script>
    <%- include('partials/footer') %>